doctype html
html
    head
        link(href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet")
        style 
            include /less/base.less 
            include /less/footer.less 
        block head
    body
        block body 