div.index
    each item in data
        div.index-item=item
            div.index-item-top
                div(style="display: flex; align-items: center")
                    img(src="", alt="")
include /components/footer.pug