extends /base/base.pug
block body 
  div.footer 
    div.footer-top
      div.left
        img.footer-logo(src="/img/logo.svg", alt="", srcset="")
        p.footer-logoText ©2024 Topziz
      div.right
        h3 Legal
        a(href='/about/terms/') Terms &amp; Conditions
        a(href='/about/privacy/') Privacy Policy
        a(href='/about/cookies/') Cookie Policy
        a(href='/about/dmca/') DMCA
    p.footer-bottom Topziz.com does not claim ownership of trademarks, corporate names,emblems, other forms of intellectual property, as well as informationabout goods (excluding intellectual property owned by Topziz.com)displayed on the website.
