script(async src="https://www.googletagmanager.com/gtag/js?id=G-MEX5C5XK2Y")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MEX5C5XK2Y');