doctype html
html
    head
        link(href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet")
        style 
            block style 
            include /css/base.css 
            include /css/footer.css 
        script 
            include /js/1.js  
        block head
    body
        block body 