@media screen and (min-width: 764px) and (max-width: 1024px) {
  /* 在屏幕宽度在720px和1080px之间应用的样式 */
  .gameList-item {
    max-width: 49.5% !important;
    flex-basis: 49.5% !important;
  }
}
@media screen and (max-width: 764px) {
  /* 在屏幕宽度在720px和1080px之间应用的样式 */
  .gameList-item {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }
}
.gameList {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.gameList .gameList-item {
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 0px 6px 0px #04021a0f;
  flex: 1;
  display: flex;
  height: 67px;
  margin: 0 0.25%;
  margin-top: 0.5%;
  max-width: 33%;
  flex-basis: 32.8%;
  border: 2px solid #d7dfe9;
  padding: 6px;
  background-color: white;
  line-height: 1.25;
  color: #171e47;
  position: relative;
  animation: spin 2.5s infinite linear paused;
}
.gameList .gameList-item:hover {
  border: 2px solid !important;
  border-image: linear-gradient(to right, #996ec9, #578aef) 1 !important;
}
.gameList .gameList-item:hover .item-left:before {
  animation: shine 0.6s ease-in 1;
  display: block;
}
.gameList .gameList-item .item-left::before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  width: 25%;
  height: 100%;
  left: -30%;
  transform: skewX(-35deg) translateX(-100%);
  background: rgba(255, 255, 255, 0.3);
}
.gameList .item-left {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.gameList .item-left .item-left-index {
  font-size: 12px;
  font-weight: 600;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  top: -6px;
  left: -6px;
  position: absolute;
}
.gameList .item-left img {
  aspect-ratio: 1/1;
  border-radius: 8px;
  height: 100%;
}
.gameList .item-right {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.gameList .item-right span {
  font-weight: 400;
  color: #888da2;
  font-size: 12px;
  margin-right: 10px;
}
@keyframes shine {
  0% {
    left: 0;
  }
  100% {
    left: 150%;
  }
}
